@import '../../globals.scss';

#about {
    height: 100dvh;
    align-content: center;
    background-color: $color_dark_tuned;

    .heading {
        grid-area: 1 / 2 / 2 / 7;
        max-width: 600px;
    }

    .paragraph {
        grid-area: 1 / 7 / 2 / 12;
        max-width: 600px;
    }

    @media screen and (min-width: 768px) and (max-width: 1023px) {
        .heading {
            grid-area: 1 / 2 / 2 / 8;
            max-width: max-content;
        }

        .paragraph {
            grid-area: 2 / 2 / 3 / 8;
            max-width: max-content;
        }
    }
    
    @media screen and (max-width: 767px) {
        .heading {
            grid-area: 1 / 1 / 2 / 5;
            max-width: max-content;
        }

        .paragraph {
            grid-area: 2 / 1 / 3 / 5;
            max-width: max-content;
        }
    }
}